// Mixins

@mixin box-sizing() {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    
}

// Media query mixins

@mixin extralarge-desktop {
  @media (min-width: #{$extralarge-desktop}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}

@mixin small-laptop {
  @media (max-width: #{$small-laptop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-landcape {
  @media (min-width: #{$tablet-width + 1}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin tablet-portait {
  @media only screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phone-portrait {
    @media only screen and (max-width: #{$mobile-portait}) {
        @content;
    }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}