// Variables

$NewDawn: #2d1433;
$ElectricBlue: #554596;
$BlueRain: #496187;

// Screen sizes

$mobile-portait: 414px;
$tablet-width: 768px;
$desktop-width: 1084px;
$large-desktop-width: 1320px;
$extralarge-desktop: 1920px;
$small-laptop-width: 1367px;