@font-face {
  font-family: 'nexa-regular';
  src: url('../fonts/nexa-regular/nexa-regular.eot'), /* IE9 Compat Modes */
       url('../fonts/nexa-regular/nexa-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nexa-regular/nexa-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/nexa-regular/nexa-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nexa-regular/nexa-regular.svg#svgnexa-regular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'nexa-bold';
  src: url('../fonts/nexa-bold/nexa-bold.eot'), /* IE9 Compat Modes */
       url('../fonts/nexa-bold/nexa-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nexa-bold/nexa-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/nexa-bold/nexa-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nexa-bold/nexa-bold.svg#svgnexa-bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'chalkboard';
  src: url('../fonts/chalkboard/Chalkboard-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

// nav styling
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-brand {
  width: 120px;

  img {
    width: 100%;
  }
    svg {
        width: 100%;
        height: 34px;
        .cls-1 {
            fill: $BlueRain;
        }
    }
}

.card {
    display: block;
    background-color: #554596;
}
.clear {clear:both;}

//container max-width 

.fluid-container {
  max-width: 1600px;
  margin: 0 auto;
  .heading .row {
    p {
      font-family: "nexa-bold", Arial, sans-serif;
      font-size: 1.1rem;
      color: #eea0b5;
    }
    button {
      font-family: "open-sans", Arial, sans-serif;
      font-weight: bold;
      letter-spacing: 0.5em;
      font-size: 0.9em;
      background-color: white;
      border: 2px solid black;
      float: right;
      color: black;
      text-transform: uppercase;
    }
  }
}

.gallery-block{
	padding: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;

    h2 {
      font-weight: bold;
      font-size: 2.2rem;
      padding-bottom: 30px;
    }

    p {
      text-align: left;
      color: purple;
      font-weight: bold;
    }
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 

}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
//  position: relative;
}

.gallery-block.cards-gallery .card-body p {

  font-family: chalkboard,nexa-regular,sans-serif;
    font-size: .75rem!important;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}
.gallery-block.cards-gallery .card-body p.award {

  font-family: chalkboard,nexa-regular,sans-serif;
    font-size: .6rem!important;
    text-align: left;
    text-transform: uppercase;
    color: #fff265;
}


.gallery-block.cards-gallery a {
  color:#212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
//  margin-bottom: 30px; 
    height: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.btn-purple {
  color: #fff;
  background-color: purple;
  border-color: purple;
}

.btn-purple:hover {
  color: #fff;
  background-color: rgb(84, 0, 84);
  border-color: purple;
}

.btn-purple:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

@media (max-width: 576px) {

  .gallery-block{
    padding: 40px 20px;
  }
}

@media (min-width: 576px) {

   .main {
    display: inline-block !important;
    width: 80% !important;
    vertical-align: middle !important;
    background-color: #ffffff !important;
    font-size:18px !important;
   } 
}


.purple-text {
  color: purple;
}
.showOnHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(92, 91, 87, 0.9);
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.card:hover .showOnHover {
  visibility: visible;
  opacity: 1;
}
.text-white {
  color: #ffffff;
  font-family: "chalkboard", "nexa-regular", sans-serif;
  font-size: 0.6rem !important;
  text-align: left;
  text-transform: uppercase;
}
.navbar {
  background-color: #f3a4ba;
}

.subTitle {
  color: #589188;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f3a4ba;
  background-clip: padding-box;
  border: 0px;
  border-bottom: 2px solid #2d1433;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  @include box-sizing();
}




.navbar-brand {
  width: 120px;
}

.navbar-brand img {
  width: 100%;
}

// input, input:focus {
//   color: purple;
// }

.gallery-block {
  padding: 60px;
}

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 2.2rem;
  padding-bottom: 30px;
}

.gallery-block .heading p {
  text-align: left;
  color: purple;
  font-weight: bold;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.gallery-block.cards-gallery .card img {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.btn-purple {
  color: #fff;
  background-color: purple;
  border-color: purple;
}

.btn-purple:hover {
  color: #fff;
  background-color: #540054;
  border-color: purple;
}

.btn-purple:focus, .btn-info.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

@media (min-width: 576px) {
  .gallery-block .transform-on-hover:hover {
    -webkit-transform: translateY(-10px) scale(1.02);
            transform: translateY(-10px) scale(1.02);
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

@media (max-width: 576px) {
  .gallery-block {
    padding: 40px 20px;
  }
}

.purple-text {
  color: purple;
}
/* New stuff */
.navbar {
  background-color: #f3a4ba !important;
}
.nav-link {
  font-family: "open-sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.6rem;
}
.sub-title {
  font-family: "nexa-bold", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #589188;
}
.form-control {
  border: 0px;
  border-bottom: 2px solid #2d1433;
  border-radius: 0;
  font-family: "open-sans", Arial, sans-serif;
  font-size: 0.6rem !important;
  letter-spacing: 3px;
  color: #2d1433;
  text-transform: uppercase;
}
.btn-outline-primary {
  color: #2d1433;
  border: 0;
}
.card {
  border: 8px solid #2d1433;
  border-radius: 10px;
}
.card-body:last-of-type {
  min-height: 100px;
}
.card-body {
  background-color: #554596;
}
.award {
  font-family: "chalkboard", "nexa-regular", sans-serif;
  font-size: 0.6rem !important;
  text-align: left;
  text-transform: uppercase;
  color: #fff265;
}
.card-body {
  .userName, .userTitle, .userLocation, .userJob, .value, .description {
    font-family: "nexa-bold", Arial, sans-serif;
    font-size: 0.6rem !important;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff265;
    word-break: keep-all;
  }
  .userTitle, .value {
    font-weight: bold;
    padding-bottom: 5px;
  }
  .userLocation, .userJob, .description {    
    color: #dedede !important;
  }
  .userJob {    
    color: #FFA500 !important;
  }
  button {
    background: none;
    border: 1px solid #fff265;
    float: right;
    color: #fff265;
  }
}

.star {
  position: absolute;
  padding: 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important; 
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  width: 15%;
  min-width: 35px;
}
.modal-content.pink-modal {
  background: #f3a4ba;
}
.modal-content.green-modal {
  background: #589188;
}
.modal-content {
    .loading {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        display: none;
    }
}
.nexa-font {
  font-family: "nexa-regular", Arial, sans-serif;
}
.modal-header {
  border: 0;
}
.card-body {
  font-family: "nexa-regular", Arial, sans-serif;
}

// nominations form styling
.modal-body.modal-dialog {
  margin: 0;
  max-width: none;
  pointer-events: auto;
}

.modal-dialog-centered.nominations-modal {
  margin: 0 auto;
  @media (min-width: 1750px) {
    max-width: 50%;
  }
  @media (min-width: 1440px) and (max-width: 1749px) {
    max-width: 60%;
  }
  @media (min-width: 768px) and (max-width: 1439px) {
    max-width: 70%;
  }
  .modal-header {
    padding: 0;
    .modal-title {
      font-family: "nexa-bold", Arial, sans-serif;
      margin: 0 auto;
      text-transform: uppercase;
      padding: 10px;
    }
    button.close {
      margin: 0;
    }
  }
}
#nominationsForm {
  font-family: "nexa-regular", Arial, sans-serif;
  text-transform: uppercase;
  .form-group {
    textarea {
      border: 2px solid black;
    }
    .form-control {
      background: #589188;
    }
    .form-check {
      //font-family: "Chalkboard-Bold", Arial, sans-serif;
      padding: 10px 10px 10px 50px;
      input {
        border: 5px solid black;
        margin-left: -2rem;
        background: black;
        color: black;
      }
    }
  }
  .modal-footer {
    border: none;
    button {
      color: black;
      background: #589188;
      border: 2px solid black;
    }
  }
}

// header image styling
.hero-img-container {
  width: 100%;
  padding-top: 60px;
  background: #f3a4ba;
  img {
    max-width: 750px;
  }
}

// footer styling
.page-footer .container {
  font-family: "open-sans", Arial, sans-serif;
  color: #301939;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  .list-inline .list-inline-item {
    margin: 0;
    padding: 1rem;
    a {
      letter-spacing: 0.4rem;
      color: #486082;
        &:hover {
            text-decoration: none;
        }
    }
  }
  img {
    max-width: 60vw;
  }
}

.page-footer {
    .row {
        display: block;
        .footerNav {
            text-align: center;
            margin: 0 0 60px 0;
            &.remove-bottom {
                margin-bottom: 0;
            }
            ul {
                list-style: none;
                margin: 0;
                li {
                    display: inline-block;
                    margin: 0;
                    font-size: 100%;
                    letter-spacing: 0px;
                    a {
                        text-transform: uppercase;
                        color: #486082;
                        text-decoration: none;
                        padding: 0 20px;
                        letter-spacing: 3px;
                        font-size: 1em;
                        line-height: 1em;
                    }
                }
            }
        }
        &.copy {
            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                li {
                    display: inline-block;
                    margin: 0 -4px 0 0;
                    a {
                        font-size: 0.600em;
                        line-height: 1em;
                        color: #301939;
                        text-decoration: none;
                        padding: 0 6px;
                        border-right: 1px solid #301939;
                        
                    }
                    &:last-of-type {
                        a {
                          border-right: none;  
                        }  
                    }
                }
            }
        }
    }
    #logoPurple {
        width: 100%;
        height: 33px;
        max-width: 250px;
        margin: 0 0 3rem 0;
        .cls-1 {
            fill: $BlueRain;
        }
    }
}


// values fluid container styling
#values .fluid-container .row .col-md-6.col-lg-4.col-xl-2 .card-body {
  @media (min-width: 1670px) {
    min-height: 160px;
  }
  @media (min-width: 1500px) and (max-width: 1669px) {
    min-height: 180px;
  }
  @media (min-width: 1200px) and (max-width: 1499px) {
    min-height: 270px;
  }
  @media (min-width: 993px) and (max-width: 1199px) {
    min-height: 145px;
  }
  @media (max-width: 992px) {
    min-height: 130px;
  }
}

// toast styling
.toast#nominationsToast {
  font-family: "nexa-bold", Arial, sans-serif;
  background: #589188;
  font-size: 1rem;
  .toast-header {
    font-family: "nexa-bold", Arial, sans-serif;
    background: #589188;
    font-size: 1.2rem;
    color: black;
  }
}

.noPadding {
    padding: 0 60px;
    @include phone {
        padding: 0 15px;
    }
}


.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;    
}
.upload-demo-wrap {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

#ui-datepicker-div {
    top: 11rem!important;
}
